body {
    
    height: 100vh;
    width: 100vw;
   
    background-position: center;
    background-size: cover;
    background-image: url('/assets/Drinks.jpeg');
}
nav {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    background-image: url('https://i.pinimg.com/originals/89/b4/77/89b4773eed5f72cf6e153c005d4a21e6.png');
    height: 60px;
    margin: 0px auto 30px auto;
}

#form {
    display: flex;
    
    background-image: url('https://i.pinimg.com/originals/89/b4/77/89b4773eed5f72cf6e153c005d4a21e6.png');
    background-position: center;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    padding: 20px;
}
#moneyIsPain {
    display: flex;
    justify-content: center;
    margin-top: 30%;
}
ul {
    display: flex;
    align-items: center;
    
    justify-content: space-around;
}
li {
    list-style: none;    
}
a {
    text-decoration: none;
    color: gold;
    font-size: 30px;
    font-family: starjedi;
}
select {
    margin: 3px;
}
textarea{
    margin: 10px;
}
#button {
    margin: auto;
    height: 30px;
    width: 70px;
}



