html {
    background-color: black;
    color: white;
}
ul {
    display: flex;
    background-color: aliceblue;
    justify-content: space-around;
}
a {
    text-decoration: none;
}

li {
    list-style: none;
}
#moneyIsPain {
    height: 100vh;

}
form {
    height: 60vh;
    width: 50vh;
}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    background-color: blue;
}